apiVersion: v1
kind: Service
metadata:
  name: {{ include "jellyfin.fullname" . }}
  namespace: {{ include "jellyfin.name" . }}
  labels:
    app: {{ include "jellyfin.name" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.jellyfin.port }}
      targetPort: http
      protocol: TCP
    - name: udp-port
      port: {{ .Values.service.jellyfin.udpPort }}
      targetPort:  {{ .Values.service.jellyfin.udpPort }}
      protocol: UDP
    - name: {{ .Values.service.jackett.name }}
      port: {{ .Values.service.jackett.port }}
      targetPort: {{ .Values.service.jackett.name }}
#      targetPort: http
      protocol: TCP
    - name: {{ .Values.service.sonarr.name }}
      port: {{ .Values.service.sonarr.port }}
      targetPort: {{ .Values.service.sonarr.name }}
      protocol: TCP
    - name: {{ .Values.service.radarr.name }}
      port: {{ .Values.service.radarr.port }}
      targetPort: {{ .Values.service.radarr.name }}
      protocol: TCP
    - name: {{ .Values.service.qbittorrent.name }}
      port: {{ .Values.service.qbittorrent.port }}
      targetPort: {{ .Values.service.qbittorrent.name }}
      protocol: TCP
    - name: qbittorrent-udp-port
      port: {{ .Values.service.qbittorrent.udpPort }}
      targetPort:  {{ .Values.service.qbittorrent.udpPort }}
      protocol: UDP
  selector:
    app: {{ include "jellyfin.name" . }}
